/*
	@name home
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1440px; height: 1024px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }


#page_home_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}

#_bg__home_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:rgba(142.82,196.06,218.88,1);
}


#header_title {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 279px;
	background:rgba(216.07,114.02,232.69,1);
}


#meeseeks_app {
	top: 32px;
	left: 40px;
	width: 1476px;
	height: 319px;
	overflow: hidden;
	font-family: Lobster;
	font-size: 178px;
	text-align: left;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	color:#0E0E0E;
}

#group_1 {
	top: 323px;
	left: 182px;
	width: 1006px;
	height: 216px;
}

#welcome_box {
	opacity:0.60000002384186;
	top: 0px;
	left: 0px;
	width: 1006px;
	height: 216px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(163.26,69.62,178.5,0.6);
}


#welcome {
	top: 49px;
	left: 36px;
	width: 531px;
	height: 189px;
	overflow: hidden;
	font-family: Lobster;
	font-size: 90px;
	text-align: left;
	color:#000000;
}


#__user_ {
	top: 60px;
	left: 525px;
	width: 481px;
	height: 148.5px;
	overflow: hidden;
	font-family: Lobster;
	font-size: 75px;
	text-align: center;
	color:#000000;
}


#personal_button {
	top: 671px;
	left: 41px;
	width: 282px;
	height: 282px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background:rgba(217,217,217,1);
}


#__settings_button {
	top: 671px;
	left: 544px;
	width: 282px;
	height: 282px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background:rgba(217,217,217,1);
}


#record_button {
	top: 671px;
	left: 1047px;
	width: 282px;
	height: 282px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background:rgba(217,217,217,1);
}



/* Add your custom CSS here */
