 <!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
   <head>
     <meta http-equiv="content-type" content="text/html" charset="utf-8" />
     <title>home</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="description" content="" >
     <link rel="StyleSheet" href="static\css\home.css" />
     <script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6"></script>
     <!-- Add your custom HEAD content here -->

    <script>
        window.onload = function() {
          var body = document.querySelector('body');
          body.style.height = window.innerHeight + 'px';
        }

        window.onresize = function() {
          var body = document.querySelector('body');
          body.style.height = window.innerHeight + 'px';
        }
    </script>
 
   </head>
   <body>
     <div id="content-container" >
       <div id="page_home_ek1"  >
         <div id="_bg__home_ek2"  ></div>
         <div id="header_title"  ></div>
         <div id="meeseeks_app" >
           Meeseeks App
         </div>


            <div id="video_feed_container">
            <img src="{{ url_for('video_feed') }}" width="740" height="460">

            <div class='container'>
              <form>
                  <a href=# id=pullups><button class='btn pullupBtn'>Pull Ups</button></a>
              </form>

              <form>
                <a href=# id=leftCurl><button class='btn leftCurlBtn'>Left Curl</button></a>
              </form>

              <form>
                <a href=# id=rightCurl><button class='btn rightCurlBtn'>Right Curl</button></a>
              </form>
              
              <form>
                <a href=# id=squat><button class='btn squatBtn'>Squat</button></a>
              </form>

              <form>
                <a href=# id=lateral><button class='btn lateralBtn'>Lateral Raise</button></a>
              </form>

              <form>
                <a href=# id=leg><button class='btn legBtn'>Laying Leg Raise</button></a>
              </form>

            </div>

            </div>

       <div id="record_link">
         <a href=# id=golf><button class="btn golf" >Record Golf Swing</button></a>

         <a href=# id=golfSave><button class="btn golfSave" >Save/view Golf Swing</button></a>


         <!-- <script type="text/javascript">
            document.getElementById("changePageBtn").onclick = function () {
              window.location.href = "recordingScreen";
            };
         </script> -->

      </div>
 
       </div>
     </div>
   </body>

   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script type=text/javascript>
           $(function() {
             $('a#pullups').on('click', function(e) {
               e.preventDefault()
               $.getJSON('/background_process_pullups',
                   function(data) {
 
               });
               return false;
             });
 
             $('a#leftCurl').on('click', function(e) {
               e.preventDefault()
               $.getJSON('/background_process_leftCurls',
                   function(data) {
 
               });
               return false;
             });

             $('a#rightCurl').on('click', function(e) {
               e.preventDefault()
               $.getJSON('/background_process_rightCurls',
                   function(data) {
 
               });
               return false;
             });

             $('a#squat').on('click', function(e) {
               e.preventDefault()
               $.getJSON('/background_process_squat',
                   function(data) {
 
               });
               return false;
             });

             $('a#lateral').on('click', function(e) {
               e.preventDefault()
               $.getJSON('/background_process_lateral_raise',
                   function(data) {
 
               });
               return false;
             });

             $('a#leg').on('click', function(e) {
               e.preventDefault()
               $.getJSON('/background_process_leg_raise',
                   function(data) {
 
               });
               return false;
             });


             $('a#golf').on('click', function(e) {
               e.preventDefault()
               $.getJSON('/background_process_golf',
                   function(data) {
 
               });
               return false;
             });

             $('a#golfSave').on('click', function(e) {
               e.preventDefault()
               $.getJSON('/background_process_golfSave',
                   function(data) {
 
               });
               return false;
             });


           });

   </script>


 </html>